.columns {
    display: flex;
    flex-wrap: wrap;
  }
  
  .wrapper {
    display: flex;
  }
  .container {
    max-width: 960px;
    margin-top: 25px;
  }

.search-form {
    display: inline;
}

.suggestions {
    font-weight: bold;
    display: block;
}

#mapid { 
    height: 340px; 
}
